body.dark-mode {
  background-color: #111 !important;
  color: #fff !important;
}

body.dark-mode .card {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

body.dark-mode .text-muted {
  color: #ccc !important;
}

body.dark-mode .btn-outline-dark {
  border-color: #fff !important;
  color: #fff !important;
}

body.dark-mode .btn-outline-dark:hover {
  background-color: #fff !important;
  color: #000 !important;
}
